[submodule "deps/lua-headers"]
	path = deps/lua-headers
	url = git@github.com:luapower/lua-headers.git
[submodule "deps/sol"]
	path = deps/sol
	url = git@github.com:Rapptz/sol.git
[submodule "libs/imgui"]
	url = https://github.com/PhantomCloak/imgui/tree/docking
[submodule "libs/SimpleJSON"]
	path = libs/SimpleJSON
	url = git@github.com:nbsdx/SimpleJSON.git
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d
