[submodule "deps/lua-headers"]
	path = deps/lua-headers
	url = git@github.com:luapower/lua-headers.git
[submodule "deps/sol"]
	path = deps/sol
	url = git@github.com:Rapptz/sol.git
[submodule "libs/imgui"]
	url = https://github.com/PhantomCloak/imgui
	path = libs/imgui
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d
[submodule "libs/stb"]
	path = libs/stb
	url = git@github.com:nothings/stb.git
[submodule "libs/flecs"]
	path = libs/flecs
	url = git@github.com:SanderMertens/flecs.git
[submodule "libs/rlImGui"]
	path = libs/rlImGui
	url = git@github.com:raylib-extras/rlImGui.git
[submodule "libs/raylib"]
	path = libs/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "libs/angle"]
	path = libs/angle
	url = git@github.com:google/angle.git
